.about {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.who {
  color: red;
  font-weight: 600;
}

.text_center {
  text-align: center;
}

.logo, .imgs {
  display: block;
  margin: 50px auto;
}

.logo {
  width: 400px;
}